<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999148499436-2drjp1d4hh874h95986mqj0s525cq5vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999148499436-2drjp1d4hh874h95986mqj0s525cq5vd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999148499436-hrbug8d99msfknm05u3s4rl32p8mj0l3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXrvM8wFFlTvVeOLD9lek_jyOdnc65k9s</string>
	<key>GCM_SENDER_ID</key>
	<string>999148499436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>store.uniqapp.vaTfTodo</string>
	<key>PROJECT_ID</key>
	<string>va-tf-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>va-tf-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999148499436:ios:941cd68be8c6e0d89590c9</string>
</dict>
</plist>